{% extends "layout.njk" %}
{% block head_styles %}
h1 {
  font-size: 2.5rem !important;
  line-height: 1.15;
  text-decoration: underline dashed;
  text-underline-offset: 4px;
}
h2, h3, h4, h5, h6 {
  text-decoration: underline dashed;
  text-underline-offset: 4px;
}
{% endblock %}
