@import "tailwindcss";

::selection {
    background-color: #47a3f3;
    color: #fefefe;
}

:root {
    --sh-class: #2d5e9d;
    --sh-identifier: #354150;
    --sh-sign: #8996a3;
    --sh-string: #007f7a;
    --sh-keyword: #e02518;
    --sh-comment: #a19595;
    --sh-jsxliterals: #6266d1;
    --sh-property: #e25a1c;
    --sh-entity: #e25a1c;
}

@media (prefers-color-scheme: dark) {
    :root {
        --sh-class: #4c97f8;
        --sh-identifier: white;
        --sh-keyword: #f47067;
        --sh-string: #0fa295;
    }

    html {
        color-scheme: dark;
    }
}

html {
    min-width: 360px;
}

.prose .anchor {
    @apply absolute invisible no-underline;

    margin-left: -1em;
    padding-right: 0.5em;
    width: 80%;
    max-width: 700px;
    cursor: pointer;
}

.anchor:hover {
    @apply visible;
}

.prose a {
    @apply underline transition-all decoration-neutral-400 dark:decoration-neutral-600 underline-offset-2 decoration-[0.1em];
}

.prose .anchor:after {
    @apply text-neutral-300 dark:text-neutral-700;
    content: "#";
}

.prose *:hover > .anchor {
    @apply visible;
}

.prose pre {
    @apply bg-neutral-50 dark:bg-neutral-900 rounded-lg overflow-x-auto border border-neutral-200 dark:border-neutral-900 py-2 px-3 text-sm;
}

.prose code {
    @apply px-1 py-0.5 rounded-lg;
}

.prose pre code {
    @apply p-0;
    border: initial;
    line-height: 1.5;
}

.prose code span {
    @apply font-medium;
}

.prose img {
    /* Don't apply styles to next/image */
    @apply m-0;
}

.prose p {
    @apply my-4 text-neutral-800 dark:text-neutral-200;
}

.prose h1 {
    @apply text-4xl font-medium tracking-tight mt-6 mb-2;
}

.prose h2 {
    @apply text-xl font-medium tracking-tight mt-6 mb-2;
}

.prose h3 {
    @apply text-xl font-medium tracking-tight mt-6 mb-2;
}

.prose h4 {
    @apply text-lg font-medium tracking-tight mt-6 mb-2;
}

.prose strong {
    @apply font-medium;
}

.prose ul {
    @apply list-disc pl-6;
}

.prose ol {
    @apply list-decimal pl-6;
}

.prose > :first-child {
    /* Override removing top margin, causing layout shift */
    margin-top: 1.25em !important;
    margin-bottom: 1.25em !important;
}

pre::-webkit-scrollbar {
    display: none;
}

pre {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

/* Remove Safari input shadow on mobile */
input[type="text"],
input[type="email"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

table {
    display: block;
    max-width: fit-content;
    overflow-x: auto;
    white-space: nowrap;
}

.title {
    text-wrap: balance;
}

.highlight {
    background-color: rgba(203, 203, 203, 0.047);
    overflow-x: auto;
    font-size: 15px;
    padding: 10px;
}

.highlight__panel-action {
    display: none;
}


.grid-animation {
    --s: 10vmin;
    --p: calc(var(--s) / 2);
    --c1: gray;
    --c2: black;
    --c3: black;
    --bg: var(--c3);
    --d: 4000ms;
    --e: cubic-bezier(0.76, 0, 0.24, 1);

    background-color: var(--bg);
    background-image: linear-gradient(45deg, var(--c1) 25%, transparent 25%),
    linear-gradient(-45deg, var(--c1) 25%, transparent 25%),
    linear-gradient(45deg, transparent 75%, var(--c2) 75%),
    linear-gradient(-45deg, transparent 75%, var(--c2) 75%);
    background-size: var(--s) var(--s);
    background-position: calc(var(--p) * 1) calc(var(--p) * 0),
    calc(var(--p) * -1) calc(var(--p) * 1),
    calc(var(--p) * 1) calc(var(--p) * -1),
    calc(var(--p) * -1) calc(var(--p) * 0);
    animation: color var(--d) var(--e) infinite,
    position var(--d) var(--e) infinite;
}

@keyframes color {
    0%, 25% {
        --bg: var(--c3);
    }
    26%, 50% {
        --bg: var(--c1);
    }
    51%, 75% {
        --bg: var(--c3);
    }
    76%, 100% {
        --bg: var(--c2);
    }
}

@keyframes position {
    0% {
        background-position: calc(var(--p) * 1) calc(var(--p) * 0),
        calc(var(--p) * -1) calc(var(--p) * 1),
        calc(var(--p) * 1) calc(var(--p) * -1),
        calc(var(--p) * -1) calc(var(--p) * 0);
    }
    25% {
        background-position: calc(var(--p) * 1) calc(var(--p) * 4),
        calc(var(--p) * -1) calc(var(--p) * 5),
        calc(var(--p) * 1) calc(var(--p) * 3),
        calc(var(--p) * -1) calc(var(--p) * 4);
    }
    50% {
        background-position: calc(var(--p) * 3) calc(var(--p) * 8),
        calc(var(--p) * -3) calc(var(--p) * 9),
        calc(var(--p) * 2) calc(var(--p) * 7),
        calc(var(--p) * -2) calc(var(--p) * 8);
    }
    75% {
        background-position: calc(var(--p) * 3) calc(var(--p) * 12),
        calc(var(--p) * -3) calc(var(--p) * 13),
        calc(var(--p) * 2) calc(var(--p) * 11),
        calc(var(--p) * -2) calc(var(--p) * 12);
    }
    100% {
        background-position: calc(var(--p) * 5) calc(var(--p) * 16),
        calc(var(--p) * -5) calc(var(--p) * 17),
        calc(var(--p) * 5) calc(var(--p) * 15),
        calc(var(--p) * -5) calc(var(--p) * 16);
    }
}

@media (prefers-reduced-motion) {
    body {
        animation: none;
    }
}